[gcode_macro BUZZ_EXTRUDER]
description: Buzz extruder stepper for testing
gcode:
  STEPPER_BUZZ STEPPER=extruder




[gcode_macro CORNER_TOUR_LIMITS]
description: Move to the 4 XY corners at Z max, then the 4 corners at Z min (uses configured axis limits).
variable_xy_feed: 6000     # mm/min
variable_z_feed: 1200      # mm/min
variable_dwell_ms: 250
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    {action_raise_error("CORNER_TOUR_LIMITS: Printer not homed (XYZ).")}
  {% endif %}

  {% set xmin = printer.toolhead.axis_minimum.x %}
  {% set ymin = printer.toolhead.axis_minimum.y %}
  {% set xmax = printer.toolhead.axis_maximum.x %}
  {% set ymax = printer.toolhead.axis_maximum.y %}
  {% set zmin = printer.toolhead.axis_minimum.z %}
  {% set zmax = printer.toolhead.axis_maximum.z %}

  SAVE_GCODE_STATE NAME=CORNER_LIMITS_STATE
  G90

  ; ---- Top (Z max) ----
  G1 Z{zmax} F{z_feed}
  G1 X{xmin} Y{ymin} F{xy_feed}  ; FL
  G4 P{dwell_ms}
  G1 X{xmax} Y{ymin} F{xy_feed}  ; FR
  G4 P{dwell_ms}
  G1 X{xmax} Y{ymax} F{xy_feed}  ; BR
  G4 P{dwell_ms}
  G1 X{xmin} Y{ymax} F{xy_feed}  ; BL
  G4 P{dwell_ms}

  ; ---- Bottom (Z min) ----
  G1 Z{zmin} F{z_feed}
  G1 X{xmin} Y{ymin} F{xy_feed}
  G4 P{dwell_ms}
  G1 X{xmax} Y{ymin} F{xy_feed}
  G4 P{dwell_ms}
  G1 X{xmax} Y{ymax} F{xy_feed}
  G4 P{dwell_ms}
  G1 X{xmin} Y{ymax} F{xy_feed}
  G4 P{dwell_ms}

  RESTORE_GCODE_STATE NAME=CORNER_LIMITS_STATE


[gcode_macro XY_SPEED_TEST]
description: Fast X/Y speed sweep at constant velocity
variable_z_safe: 20
variable_dwell_ms: 300
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    {action_raise_error("XY_SPEED_TEST: Printer not homed")}
  {% endif %}

  {% set xmin = printer.toolhead.axis_minimum.x %}
  {% set xmax = printer.toolhead.axis_maximum.x %}
  {% set ymin = printer.toolhead.axis_minimum.y %}
  {% set ymax = printer.toolhead.axis_maximum.y %}

  {% set xmid = (xmin + xmax) / 2 %}
  {% set ymid = (ymin + ymax) / 2 %}

  {% set speed = params.SPEED|default(300)|float %}
  {% set feed = speed * 60 %}

  SAVE_GCODE_STATE NAME=XY_SPEED_STATE
  G90

  G1 Z{z_safe} F1200
  G1 X{xmid} Y{ymid} F6000
  G4 P{dwell_ms}

  ; ---- X sweep ----
  G1 X{xmin} F{feed}
  G1 X{xmax} F{feed}
  G1 X{xmid} F{feed}

  G4 P{dwell_ms}

  ; ---- Y sweep ----
  G1 Y{ymin} F{feed}
  G1 Y{ymax} F{feed}
  G1 Y{ymid} F{feed}

  RESTORE_GCODE_STATE NAME=XY_SPEED_STATE
