#########################################################
# Filament Booster 0 (fb0)
# EBB36 + LDO Orbiter 2.5
# CAN-connected secondary feeder (no heater)
#########################################################

[mcu fb0]
canbus_uuid: bb3ed6c4bcb9

# Stepper-only extruder (no heater, no thermistor)
[extruder_stepper fb0]
step_pin: fb0: PD0
dir_pin: fb0: PD1
enable_pin: !fb0: PD2
microsteps: 16
rotation_distance: 4.637
gear_ratio: 50:10
extruder: extruder

[tmc2209 extruder_stepper fb0]
uart_pin: fb0: PA15
run_current: 0.8
stealthchop_threshold: 999999

[temperature_sensor fb0_mcu]
sensor_type: temperature_mcu
sensor_mcu: fb0

#########################################################
# Belay Sensor / Control
#########################################################

[belay fb_belay_0]
extruder_type: extruder_stepper
extruder_stepper_name: fb0

# Belay switch wired between PB5 and GND
sensor_pin: ^fb0:PB5

multiplier_high: 1.05
multiplier_low: 0.95
debug_level: 1

#########################################################
# Optional helper macros
#########################################################
[gcode_macro FB_DUMP_0]
description: Dump TMC status for filament booster 0
gcode:
    DUMP_TMC STEPPER=fb0
    
[gcode_macro FB_QUERY_BELAY_0]
description: Query Belay status for filament booster 0
gcode:
    QUERY_BELAY BELAY=fb_belay_0
    
[gcode_macro FB_BUZZ_0]
description: Test filament booster motor
gcode:
    STEPPER_BUZZ STEPPER="extruder_stepper fb0"

#
# Not needed when 
#[extruder_stepper fb0]
#extruder: extruder
#
#Only needed when (not set, ie...)
#extruder: 
#
#[gcode_macro FB_SYNC_0]
#description: Sync booster to primary extruder
#gcode:
#    SYNC_EXTRUDER_MOTION EXTRUDER=fb0 MOTION_QUEUE=extruder
#
#
#[gcode_macro FB_UNSYNC_0]
#description: Unsync booster
#gcode:
#    SYNC_EXTRUDER_MOTION EXTRUDER=fb0 MOTION_QUEUE=


    