#########################################################
# Filament Booster 0 (fb0)
# EBB36 + LDO Orbiter 2.5
# CAN-connected secondary feeder (no heater)
#########################################################

[mcu fb0]
canbus_uuid: bb3ed6c4bcb9

# Stepper-only extruder (no heater, no thermistor)
[extruder_stepper fb0]
step_pin: fb0:PB13
dir_pin: fb0:PB12
enable_pin: fb0:PB14

microsteps: 16
rotation_distance: 4.637
gear_ratio: 50:10

# Not synced by default
extruder:

[tmc2209 extruder_stepper fb0]
uart_pin: fb0:PA15
run_current: 0.6
stealthchop_threshold: 999999

[temperature_sensor fb0_mcu]
sensor_type: temperature_mcu
sensor_mcu: fb0

#########################################################
# Optional helper macros
#########################################################

[gcode_macro FB_BUZZ_0]
description: Test filament booster motor
gcode:
    STEPPER_BUZZ STEPPER="extruder_stepper fb0"


[gcode_macro FB_SYNC_0]
description: Sync booster to primary extruder
gcode:
    SYNC_EXTRUDER_MOTION EXTRUDER=fb0 MOTION_QUEUE=extruder


[gcode_macro FB_UNSYNC_0]
description: Unsync booster
gcode:
    SYNC_EXTRUDER_MOTION EXTRUDER=fb0 MOTION_QUEUE=


    