#
# SKR3 MCU config
#
#####################################################################
# Electronics Bay Fans
#####################################################################
[fan_generic fan_a]
pin: PB5
kick_start_time: 0.5

[fan_generic fan_b]
pin: PB6
kick_start_time: 0.5

[fan_generic fan_c]
pin: PB7
kick_start_time: 0.5


#####################################################################
# X axis (X driver socket)
#####################################################################
[stepper_x]
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
microsteps: 16
rotation_distance: 80

# X endstop on SKR 3
# If it reads TRIGGERED when not pressed, change to: ^!PC1
endstop_pin: ^!PC1
position_endstop: 0
#position_max: 470
position_max: 460 #465     #StealBurner is wide and hits the right lead screw at the front

homing_speed: 60
second_homing_speed: 10
homing_retract_dist: 5

#####################################################################
# Y axis (Y driver socket)
#####################################################################
[stepper_y]
step_pin: PA15
dir_pin: PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 80

# Y endstop on SKR 3
# If it reads TRIGGERED when not pressed, change to: ^!PC3
endstop_pin: ^!PC3
position_endstop: 490
position_max: 490
position_min: 65

homing_speed: 60
second_homing_speed: 10
homing_retract_dist: 5
#####################################################################
# Z axis (Z driver socket) -> your first Z motor
#####################################################################
[stepper_z]
step_pin: PE2
dir_pin: PE3
enable_pin: !PE0
microsteps: 16
rotation_distance: 2

# Still dummy for now (no probe / no Z endstop yet)
#endstop_pin: ^PA2
#position_endstop: 0
endstop_pin: probe:z_virtual_endstop
position_max: 500
position_min: -5.0 # intended to cater ony for -ve values in z during Z_TILT

[tmc2209 stepper_z]
uart_pin: PE1
run_current: 0.80
stealthchop_threshold: 999999

#####################################################################
# Z1 axis (E0 driver socket) -> your second Z motor
#####################################################################
[stepper_z1]
step_pin: PD15
dir_pin: PD14
enable_pin: !PC7
microsteps: 16
rotation_distance: 2

[tmc2209 stepper_z1]
uart_pin: PC6
run_current: 0.80
stealthchop_threshold: 999999

#####################################################################
# Z2 axis (E1 driver socket) -> your third Z motor
#####################################################################
[stepper_z2]
step_pin: PD11
dir_pin: PD10
enable_pin: !PD13
microsteps: 16
rotation_distance: 2

[tmc2209 stepper_z2]
uart_pin: PD12
run_current: 0.80
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PD7                      # leave as-is if already working / you already wired SSR to the right output
sensor_type: Generic 3950            # safest default when you don't know the thermistor
sensor_pin: PA1
#control: pid                         # or watermark if you're using an SSR (see note below)
#control: watermark                    # or watermark if you're using an SSR (see note below)
#pwm_cycle_time: 0.3                  # Max of 0.3 anyway.
min_temp: 0
max_temp: 130                        # set to what you actually need